[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
python-dotenv = "*"
qrcode = "*"
pillow = "*"
ffmpeg-python = "*"
pyzbar = "*"
requests = "*"
peewee = "*"
apscheduler = "*"
pyshorteners = "*"
epicstore-api = "*"
opencv-python = "*"
openai = "*"
pydantic = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.10"
