[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
python-dotenv = "*"
qrcode = "*"
pillow = "*"
ffmpeg-python = "*"
yt-dlp = "*"
pyzbar = {extras = ["scripts"], version = "*"}
requests = "*"
python-binance = "*"
peewee = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
